#root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkorchid;

}

.app-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: lightslategray;
  padding: 1rem;
}

.user-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
}

.counter-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: goldenrod;
}

.counterJr-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:darkgoldenrod;
}

.text-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dodgerblue;
}

.reduce-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: fuchsia;
}

.reduce-button-div {
  display: flex;
}

.reduce-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.reduce-num-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.counter-button-div {
  display: flex;
}
h3 {
  font-family: cursive;
  color: midnightblue;
}
h4, h5, p {
  margin: .25rem;
  color: midnightblue;
}
span, p{
  font-family: fantasy;
  color: cornsilk;
}

@media screen and (max-width: 600px) {
  .app-div {
    background-color: lightgreen;
    flex-direction: column;
  }
  h4, h1{
    font-family: fantasy;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: black;
  }
  h1 {
    color: white;
  }
}
