#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkorchid;

}

.app-div {
  background: lightslategray;
  padding: 1rem;
}

.counter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: goldenrod;
}

.text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dodgerblue;
}

.reduce-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: fuchsia;
}

.reduce-button-div {
  display: flex;
}

.reduce-text-div {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.reduce-num-div {
  background: yellow;
  width: 100%;
}
